body{
  background-image: url("../images/landing_page.jpg");
  background-color: white;
}

canvas{
  color: white;
  top: 15%;
  left: 20%;
  position: absolute;
  box-shadow: 5px 5px black;
}


div.tool{
  background-image:url("../images/tool.jpg");
    text-align: justify;
    margin-top:8%;
    width:200px;
    height:550px;
    border:10px solid black;
    position:absolute;
    left:3%;
    box-shadow: 6px 6px 6px darkred;
}

img{
  width: 50px;
  height: 50px;
}

#text , #circle , #rectangle ,#triangle{
  width: 80px;
  height: 80px;
  font-size: 60px;
  text-align: center;
}

.btn-primary{
    margin-top:20px;
    border:2px solid;
    border-color: gray;
}